<!-- <html lang="en" > -->
<!-- <head> -->
  <body>
  <!-- <meta charset="UTF-8"> -->
  <!-- <title>CodePen - iziToast demo</title> -->
  <!-- <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'> -->
<link rel='stylesheet' href='/css/iziToast.min.css'>
<!-- <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'> -->

<!-- </head> -->

<!-- partial:index.partial.html -->
<!-- <div  class="container hide"> -->
  <!-- <button class="btn btn-primary" id="infoClick">Info</button> -->
  <!-- <button class="btn btn-success" id="successClick">Success</button>
  <button class="btn btn-warning" id="warningClick">Warning</button>
  <button class="btn btn-danger" id="errorClick">Error</button> -->
  <!-- <button class="btn btn-default" id="customClick">Custom</button> -->

<!-- </div> -->
<!-- partial -->
  <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script> -->
<!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script> -->
<script src='/js/iziToast.min.js'></script>
<script  src="/js/izitoast.js"></script>

</body>
<!-- </html> -->
