<main class="form-signin w-100 m-auto" >
    <form id="change_pass">
      <img src="/images/bistun-logo.png" alt="" width="140" height="140">
      <h2 class="h3 mb-3 fw-normal">تغییر کلمه عبور</h2>
      
      <div class="form-floating">
        <input type="text" id="old_pass" class="form-control" id="floatingInput" >
        <label for="floatingInput">کلمه عبور قبلی</label>
      </div>
      <div class="form-floating">
        <input type="password" id="new_pass" class="form-control" id="floatingPassword">
        <label for="floatingPassword">کلمه عبور جدید</label>
      </div>
  
      <div class="checkbox mb-3">
        <!-- <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit"><span class="spinner-border d-none" role="status" aria-hidden="true"></span><span id="change-pass-text">ارسال</span></button>
      <!-- <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p> -->
    </form>
</main>
    <%-include("./modals/izitoast.ejs")%>
  <script src="/js/axios.js"></script>
  <script src="/js/login.js"></script>