
<div class="container-fluid">
  <div id="records">
  <form id="fuel-report" method="post" style="padding: 20px 22px 35px 25px" enctype="multipart/form-data">
    <div class="row" style="margin-top: 25px">
   
      <div class="col-sm-2" >
        <label class="control-label">شروع</label><br>
          <input  type="text" id="start-at"  data-jdp data-jdp-max-date="today" placeholder="--/--/----" />
      </div>
      <div class="col-sm-2" >
        <label class="control-label">پایان</label><br>
          <input  type="text" id="end-at"  data-jdp data-jdp-max-date="today" placeholder="--/--/----" />
      </div>
      <div class="col-sm-3">
        <label class="control-label"></label><br>
        <button id="search-pm" type="submit" class="btn btn-primary">جستجو</button>
        <button id="loading" class=" btn btn-primary d-none" disabled> منتظر بمانید <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
      </div>
    </div>
  </form>
  <div class="col-sm-12 overflow-scroll">
    <table class="table table-striped table-hover text-center">
      <thead>
        <th>ردیف</th>
        <th>پیمانکار</th>
        <th>دستگاه</th>
        <th>Pm قبلی</th>
        <th>Pm بعدی</th>
        <th>وضعیت</th>
        <th>آخرین فعالیت</th>
        <th>تاریخ آخرین فعالیت</th>
        <th>عملیات</th>
      </thead>
      <tbody id="tbody-pm-recived">
      </tbody>
    </table>
  </div>
</div>
</div>
<%-include("./modals/confirm-pm-modal.ejs")%>
</div>
</div>
<script src="/js/axios.js"></script>
