<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Login Page</title>
  <link rel="stylesheet" href="/css/bootstrap.css">
  <style>
    body {
      background: url('/images/pic.jpg') no-repeat center center fixed;
      background-size: cover;
    }
    
    .container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }
    
    .card {
      max-width: 310px;
      width: 100%;
    }
    
  </style>
</head>
<body>
  <div class="container">
    <div class="card">
      <div class="card-body">
        <%-body %>
      </div>
    </div>
  </div>
  
  <script src="/js/bootstrap.js"></script>
</body>
</html>
